@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  /* Fondo fijo full screen */
  background-image: url('./../public/wallpaper.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  /* Fallback */

  /* Contenedor para overlay */
  position: relative;
  min-height: 100vh;
}

/* Overlay con opacidad SOLO en el fondo */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 12, 24, 0.9);
  z-index: 1;
}

main {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: white;
}

.main-content::-webkit-scrollbar {
  width: 8px;
}

.main-content::-webkit-scrollbar-track {
  background: #0f172a;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 9999px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}